<div class="message-container" id="message-<%= message.id %>">
  <h3><%= message.user.username %> says:</h3>
  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  <p><%= message.content %></p>
</div>
