<div class="banner">
  <div class="container rounded p-3">
    <div class="bg-overlay p-3">
      <div>
        <div class="banner-content p-2">
          <h1>Find a <strong>buddy</strong>, learn a <strong>language</strong>!</h1>
        </div>
        <div class="banner-content p-2">
          <p>Hermes Land offers a way to connect people with shared interests to learn a new language together</p>
        </div>
        <div class="banner-content p-2">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat-blue" %>
        </div>
      </div>
    </div>
  </div>
</div>
