.card-category {
  background-size: cover;
  background-position: center;
  height: 45%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: 2px 2px 13px 2px #00000082;
  border: 15px solid $hermes-gold;
}

.card-feed-position {
  position: absolute;
  top: -3em;
  right: 4em;
}

.card-profiles {
  box-shadow: 2px 1px 9px 3px #00000040;
  background: whitesmoke;
  border: 1px solid black;
  padding: 1.5em;
  position: relative;
  height: 24em;
  width: 22em;
  border-radius: 2.6em;
}

.outflow-avatar {
  // position: absolute;
}

#find-title {
  font-size: 2em;
    letter-spacing: 0.13em;
    margin-top: -22px;
    text-transform: capitalize;
}

.greek-circle {
  position: absolute;
  top: -4.5em;
  right: 6em;
  height: 45%;
  width: 45%;
}

.greek-circle-profile{
    position: absolute;
    width: 123%;
    height: 122%;
    right: -1em;
    top: -1em;
}

.profile-content {
  display: grid;
  flex-flow: wrap;
}

.profile-pic {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
}

.profile-filler {
    background-color: $hermes-red;
    position: absolute;
    width: 99.7%;
    height: 4em;
    margin-left: -1.8em;
    z-index: 0;
    margin-top: -1.8em;
    border-top-right-radius: 2.49em;
    border-top-left-radius: 2.49em;
    box-shadow: rgba(0, 0, 0, 0.89) 2px 1px 10px 1px inset;
    border: 1px solid whitesmoke;
}

.pos-relative{
  position: relative
}

.profile-card-icons {
  width: 1.5em;
  height: 1.5em;
}

.profile-path {
      margin: -0.4em 0em 1.3em;
      z-index: 1;
    width: 19em;
    margin-bottom: 0;
  #path-arrow{
    // background-color: white;
    box-shadow: rgba(0, 0, 0, 0.51) 1px 1px 1px 1px;
    border-radius: 30em;
    margin: 1em;
    font-weight: bold;
    text-shadow: 2px 1px 1px #00000047;
    background-color: $hermes-white;
  }

  span{
  background-color: $hermes-white;
  box-shadow: 1px 1px 1px 1px #00000082 inset;
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
    a{
      text-decoration: none !important;
          z-index: 4;
      color: $hermes-darkblue;
    }
  }
}

.profile-img-container{
position: relative;
    border: 15px solid $hermes-gold;
    border-radius: 50%;
}

.profile-img-box{
  img{
  border-radius: 50%;
  }
}
.profile-name{
  position: absolute;
  white-space: nowrap;

    padding: 0.3em 1em;
    border: solid 1px black;
    background-color: $hermes-darkblue;
    border-radius: 0.5em;
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    // top: 88%;
    // right: 16%;
    box-shadow: 1px 1px 1px 1px #00000082;
}

.profile-info{
  border-top: 1px solid gainsboro;
}

.profile-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid gainsboro;
}

.profile-icon {
  width: 2em;
  height: 2em;
}

.profile-size {
  width: 45em;
}

.profile-right {
  display: flex;
  align-items: center;
  margin: 0.6em 0em 0.6em 0em;
}

.profile-left{
  margin: 0.6em 0em 0.6em 0em;
}

.tag-wrapper {
  display: flex;
  max-width: 100%;
  flex-flow: wrap;
}

.tag-separator{
  border-bottom: 1px solid gainsboro;
}

.profile-languages {
  border-bottom: 1px solid $hermes-white;
}

.tag {
  margin: 2px 4px;
  padding: 2px 3px;
  border: solid 1px black;
  background-color: $hermes-darkblue;
  border-radius: 0.5em;
  color: $hermes-white;
  box-shadow: 1px 1px 1px 1px #00000082;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gainsboro;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
margin-left: .25em;
}


.card-filler{
  background-color: #D63230;
  width: 21.79em;
  height: 23%;
margin-left: -1.44em;
    margin-top: -1.4em;
  border-top-right-radius: 2.49em;
  border-top-left-radius: 2.49em;
  box-shadow: 2px 1px 10px 1px #000000e3 inset;
  border: solid $hermes-white 1px;
}

.btn-profile {
  white-space: nowrap;
  background-color: $hermes-darkblue;
  border-radius: 1.1em;
  padding: 0.1em 1.1em;
  border: 1px solid black;
  position: absolute;
  bottom: -0.8em;
  color: $hermes-white;
  text-decoration: none !important;
  text-transform: uppercase;
      z-index: 1;
}
.btn-profile:hover {
  background:  #C2D8FE;
  color: $hermes-blue;
  transition: background 0.3s ease;
}

.btn-search {
  background-color: $hermes-darkblue;
  border-radius: 1.1em;
  padding: 0.1em 1.1em;
  color: $hermes-white;
  text-decoration: none !important;
  text-transform: uppercase;
  border: none;
      font-weight: bold;
    font-size: 1.1em;
}

.btn-search:hover {
  color: black;
}

.btn-start-chat {
  color: $hermes-blue;
  background-color: black;
  border-radius: 10px;
}

.cards {
  display: grid;
  margin-top: 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  place-items: center;
  row-gap: 5em;
}

.card-profile-content {
  margin-top: 2em;
  p{
    margin-bottom: 0px;
    letter-spacing: 0.5px;
  }
}

#level {
    letter-spacing: -8px;
    font-size: 16px;
    margin: 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
