// .card-chatinfo {
//   background: white;
//   box-shadow: 2px 1px 9px 3px #00000040;
//   border: 1px solid black;
//   padding: 30px;
//   display: flex;
//   flex-flow: nowrap;
//   padding: 6px;
//   border-radius: 1.3em;
//   position: absolute;
//   top: -4%;
//   left: -3%;
//   height: 16%;
// }

.white-link {
  color: $hermes-white;
  font-weight: bold;
  font-size: 0.9em;
    margin-left: 0.2em;
    margin-right: 0.3em;
}

.kill-margin-btm{
  margin-bottom: 0 !important;
  > .form-group, .select, .optional, .query_interests{
    margin-bottom: 0 !important;
  }
}

.form-group{
  margin-bottom: 0 !important;
}

.width-fix{
      width: 43em !important;
}

.white-txt{
  color: white;
  font-weight: bold;

    text-decoration: none !important;
}

.tag > span {
  margin-left: 0.2em
}

.tag > a {
  text-decoration: none !important;
}

.highlight:hover {
  background:  #C2D8FE;
  color: $hermes-blue;
  transition: background 0.3s ease;
  a{
    color: $hermes-blue;
  }
}

.chat-users{
      width: 91%;
    display: flex;
    z-index: 0;
    position: absolute;
    margin-top: -1.4em;
    justify-content: flex-end;
}

.profile-btns {
  place-self: center;
  margin-bottom: 1em;
}

.btn-chatwith{
  width: 11em;
    background-color: #1c77c3;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.3em 1.2em 0.3em 1.2em;
    box-shadow: rgba(0, 0, 0, 0.51) 1px 1px 1px 1px;
    transition: background 0.3s ease;
  img{
    width: 2em;
  }

  a{
    color: white;
    font-weight: bold;
    text-decoration: none !important;
  }
}

.btn-chatwith:hover{
  background-color: #C2D8FE;
  color: #1460AB;
    transition: background 0.3s ease;

}

.card-chat {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 1px 9px 3px;
    border: 1px solid black;
    margin-bottom: 29px;
    background: whitesmoke;
    margin-top: 29px;
    padding: 30px;
    place-self: center;
    border-radius: 2.6em;
}

.card-responsive {
    position: relative;
    padding-bottom: 0.4em;
}


@media (min-width: 100px) and (max-width: 575px) {
  .card-responsive {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .card-responsive {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .card-responsive {
    width: 90%;
  }
}

.avatar-bubble {
  margin: 0em 0.5em;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.30) 2px 1px 10px 1px inset;
  img{
    width: 3em;
    position: relative;
    border: 1px solid black;
    z-index: 2;
    border-radius: 50%;
  }
}

.bubble-link {
  margin-right: 1em;
  margin-left: 1em;
  align-self: center;
}

.btn-back {
  align-self: center;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  color: #6b6929;
}

.btn-back:hover {
    text-decoration: none !important;
    color: #969334 !important;
  }

.btn-submit {
  border-radius: 1em;
  padding: 0.5em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #e8cd69;
  border: solid;
  border-width: 1px;
  font-weight: bold;
}

.box-form {

}


.chat-start{
  display: flex;
}


.chats-container{
  display: flex;
  border-top: 1px solid lightgray;
}


.participant-img-box{
  img{
    border-radius: 50%;
    width: 5em;
    z-index: 0;
    border: 1px solid $gray;
    // background-color: $hermes-red;
    background-image: image-url('avatarbackground.jpg')
  }
}

.participant-img-container{
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.greek-circle-participant{
  position: absolute;
  height: 121.2%;
  top: -0.53em;
  right: -0.54em;
  width: 122% !important;
}

#chatroom-participants{
  font-size: 1.3em;;
}

.participants-img{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.30) 2px 1px 10px 1px inset;
  border-radius: 2em;
  text-align: center;
    align-items: center;
        margin-top: 1em;
    margin-bottom: 1em;
}

.participant-info{
      margin-left: 2em;
    margin-bottom: 1em;
}

.background-image{
  background-image: image-url('avatarbackground.jpg');
}
