.card-chatinfo {
  background: white;
  box-shadow: 2px 1px 9px 3px #00000040;
  border: 2px solid black;
  padding: 30px;
  display: flex;
  flex-flow: nowrap;
  padding: 6px;
  border-radius: 1.3em;
  position: absolute;
  top: -4%;
  left: -3%;
  height: 16%;
}

.card-chat {
  box-shadow: 2px 1px 9px 3px #00000040;
  border: 2px solid black;
  margin-bottom: 29px;
  background: white;
  margin-top: 29px;
  padding-top: 3em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 1.3em;
  width: 45em;
}

.card-responsive {
    position: relative;
    margin-top: 2em;
    margin-right: 3em;
    margin: 2em auto;
    padding-bottom: 0.4em;
}

.avatar-bubble {
  background-color: gray;
  margin: 0;
  border-radius: 50%;
  height: 100%;
  width: 4em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  p{
    margin: 0;
    padding: 1.7em;
  }
}

.bubble-link {
  margin-right: 1em;
  margin-left: 1em;
  align-self: center;
}

.btn-back {
  align-self: center;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  color: #6b6929;
}

.btn-back:hover {
    text-decoration: none !important;
    color: #969334 !important;
  }

.btn-submit {
  border-radius: 1em;
  padding: 0.5em;
  border-radius: 1em;
  padding: 0.5em;
  background-color: #e8cd69;
  border: solid;
  border-width: 1px;
  font-weight: bold;
}

.box-form {

}
