.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
  height: 64px;
  border-bottom: 2px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30.52px;
  height: 45px;
}

.logo {
position: relative;
width: 164px;
height: 29px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color: #000000;
}

.logo-img {
position: relative;
width: 30.52px;
height: 45px;
}
