.navbar-lewagon {
  justify-content: space-between;
  background: whitesmoke;
  height: 64px;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30.52px;
  height: 45px;
}

.logo {
  position: relative;
  margin-left: 3em;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none !important;
}
.logo:hover {
  color: #000000;
}

.logo-img {
  position: absolute;
  width: 5em;
  height: 5em;
  margin-left: -1.5em;
  margin-top: -1.7em;
}
